// Color mixin

$colours: (
    primary: #0077b5,
    secondary: #004569,
    tertiary: #ffbb00,
    success: #10dc60,
    warning: #ffce00,
    error: #f04141,
    dark: #222428,
    medium: #989aa2,
    light: #f4f5f8
);
