@import "../../assets/scss/main.scss";

.contact {
    &__group {
        padding-bottom: 1rem;
    }

    &__success {
        background-color: colour(success) !important;
    }

    &__error {
        background-color: colour(error) !important;
    }
}
