@import "../../assets/scss/main.scss";

.footer {
    width: 100%;
    display: block;

    &_container {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-bottom: 15px;
    }

    &_link {
        padding: 5px;
        margin: 5px 10px;
        color: colour(primary);
        opacity: 0.75;
        filter: saturate(0);
        transition: filter ease-in 0.3s, opacity ease-in 0.3s;

        &:hover,
        &:focus {
            color: colour(primary);
            filter: saturate(1);
            opacity: 1;
        }
    }
}
