@import "../assets/scss/main.scss";
$link-color: colour(primary);

@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";

$theme-colors: (
    $primary: colour(primary),
    $info: colour(primary, light)
);

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: colour(primary, shade);
}

a,
button,
*[tabindex="-1"] {
    display: inline;

    &:focus {
        outline: 0;
    }

    @include focus() {
        outline: 3px solid colour(tertiary) !important;
    }
}
